# results
results/*
!results/mock_result_generator.py
!results/20250820_1412_fitting_test
PM_power_results/*
!PM_power_results/.gitkeep

# python cache files
__pycache__/

# jupyter cache files
.ipynb_checkpoints/

# codex files
.codex_tmp_test/
